elpa/
*.elc
*.log
.emacs.d/.local/
*~
.#*

auto-save-list/
*.autosave

elpa/

session.*

eln-cache/

*#*
TAGS

bookmarks
bookmarks~
*~.nfs

init.el~
org-settings.el~
packages.el~
appearance.el~
*.elc

.org-id-locations
